
<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="well">
  <tr>
    <td>
      <div class="form-group"
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name, {class: "form-control"}  %>
      </p>
    </td>
    <td>
      <p>
        <%= f.label :number %><br>
        <%= f.text_field :number, {class: "form-control"}  %>
      </p>
    </td>
    <td>
      <p>
        <%= f.label :active %>
        <%= f.check_box :active %>
      </p>
    </td>
    <td>
      <p>
        <%= f.submit 'Lagre', :class => 'btn btn-success'  %>
      </p>
    </td>
  </tr>
  </div>
<% end %>
