<%= form_for :project, url: projects_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </p>
 
 <p>
     <%= f.label :active %>
     <%= f.check_box :active %>
 </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
